<main id="content" class="mw-body mw-body-content">
  <div id="contentSub">{{#html-subtitle}}{{{.}}}{{/html-subtitle}}</div>
  <div id="contentSub2">{{{html-undelete-link}}}</div>
  <div id="bodyContent">
    {{{html-body-content}}}
  </div>
  {{! Outputs a css clear using the core visualClear class}}
  <div class="visualClear"></div>
  {{{html-categories}}}
  {{{html-after-content}}}
</main>
<hr id="content-end-bar" />
