{{!
  string? html-subtitle
  string html-undelete
  string html-bodycontent
  string html-printfooter
  string html-catlinks
  string html-data-after-content
}}

<main id="content" class="mw-body" role="main">
  <div id="bodyContent" class="mw-body-content">
    <div id="contentSub">
      {{#html-subtitle}}
      <p>{{{html-subtitle}}}</p>
      {{/html-subtitle}}
      <p>{{{html-undelete}}}</p>
    </div>
    {{{html-bodycontent}}}
    {{! Outputs a css clear using the core visualClear class}}
    <div class="visualClear"></div>
    <div class="printfooter">
      {{{html-printfooter}}}
    </div>
    {{{html-catlinks}}}
    {{{html-data-after-content}}}
  </div>
</main>
<hr id="content-end-bar" />
