{{!
  string? html-footer-icons
  string? html-language
  string? html-footer-links
}}

<footer id="mw-footer" class="footer-content">
  <ul id="fw-footer-menu"></ul>
  {{{html-footer-icons}}}
  {{{html-language}}}
  {{{html-footer-links}}}
  {{! Outputs a css clear using the core visualClear class}}
  <div class="visualClear"></div>
</footer>
