{{!
  string|null footer-icons
  string|null  language
  string|null footer-links
}}

<div id="mw-footer" class="footer-content">
  <ul id="fw-footer-menu"></ul>
  {{{footer-icons}}}
  {{{language}}}
  {{{footer-links}}}
  {{! Outputs a css clear using the core visualClear class}}
  <div class="visualClear"></div>
</div>
