{{#data-footer}}
<footer id="footer" class="mw-footer"{{{html-user-language-attributes}}}>
	{{#data-info}}{{>Footer__row}}{{/data-info}}
	{{#data-places}}{{>Footer__row}}{{/data-places}}
  {{#has-footer-icons}}
	{{#data-icons}}{{>Footer__row}}{{/data-icons}}
  {{/has-footer-icons}}
</footer>
{{/data-footer}}
