{{!
  string? html-sitenotice
  string? html-newtalk
  string html-namespaces
  string? html-watch
  string page-language
  string html-title
  string? html-title-buttons
  string data-toolbox
  string html-actions
  string? page-history
  string? page-lastmod
  string? html-views
}}

{{#data-header}}
<header id="p-header" class="test">
  {{#html-sitenotice}}<div id="siteNotice" class="mw-body-content">{{{.}}}</div>{{/html-sitenotice}}
  {{#html-newtalk}}<div class="usermessage">{{{html-newtalk}}}</div>{{/html-newtalk}}
  {{#data-above-title-menu}}{{>Portal}}{{/data-above-title-menu}}
  <div id="p-title-and-tb">
    <h1 class="firstHeading" lang="{{page-language}}">{{{html-title}}}</h1>
    {{{html-title-buttons}}}
    <div id="p-actions-and-toolbox" class="fw-portals fw-page-portals">
      {{#data-toolbox}}{{>Portal}}{{/data-toolbox}}
      {{#data-actions}}{{>Portal}}{{/data-actions}}
    </div>
  </div>
  <div id="lastmod-and-views">
    {{#page-lastmod-enabled}}
    <a id="lastmod" href="{{page-history}}">{{{page-lastmod}}}</a>
    {{/page-lastmod-enabled}}
    {{#data-views}}{{>Portal}}{{/data-views}}
  </div>
</header>
{{/data-header}}
