{{!
  string? html-sitenotice
  string? html-newtalk
  string html-namespaces
  string? html-watch
  string page-language
  string html-title
  string? html-title-buttons
  string data-toolbox
  string html-actions
  string? page-history
  string? page-lastmod
  string? html-views
}}

{{#data-header}}
<header id="p-header" class="test">
  {{#html-sitenotice}}<div id="siteNotice">{{{.}}}</div>{{/html-sitenotice}}
  {{#html-newtalk}}<div class="usermessage">{{{html-newtalk}}}</div>{{/html-newtalk}}
  {{#data-namespaces}}
  <div role="navigation" class="mw-portlet" id="p-namespaces">
    <h3>{{msg-header-message}}</h3>
    <ul>
      {{#data-content}}
      <li id="{{id}}" class="{{class}}">{{{html-link}}}</li>
      {{/data-content}}
    </ul>
  </div>
  {{/data-namespaces}}
  {{{html-watch}}}
  <div id="p-title-and-tb">
    <h1 class="firstHeading" lang="{{page-language}}">{{{html-title}}}</h1>
    {{{html-title-buttons}}}
    <div id="p-actions-and-toolbox">
      {{#data-toolbox}}{{>Portal}}{{/data-toolbox}}
      {{#data-actions}}{{>Portal}}{{/data-actions}}
    </div>
  </div>
  <div id="lastmod-and-views">
    {{#page-lastmod-enabled}}
    <a id="lastmod" href="{{page-history}}">{{{page-lastmod}}}</a>
    {{/page-lastmod-enabled}}
    {{#data-views}}
      <div role="navigation" class="mw-portlet" id="p-views">
        <h3>{{msg-header-message}}</h3>
        <ul>
          {{#data-content}}
          <li id="{{id}}" class="{{class}}">{{{html-link}}}</li>
          {{/data-content}}
        </ul>
      </div>
    {{/data-views}}
  </div>
</header>
{{/data-header}}
