<nav class="nav-bar">
  <div id="mw-navigation" aria-labelledby="mw-navigation-label">
    <h2 id="mw-navigation-label">{{msg-navigation-heading}}</h2>
    <a id="p-logo" class="mw-wiki-logo" href="{{link-mainpage}}" ></a>
    {{>SearchBox}}
    <ul id="site-navigation">
      <li class="changes">
        <a href="/w/Special:RecentChanges" title="{{msg-tooltip-n-recentchanges}}">
          <span class="text">{{msg-recentchanges}}</span>
        </a>
      </li>
      <li class="random">
        <a href="/w/Special:RandomPage" title="{{msg-tooltip-n-randompage}}">
          <span class="text">{{msg-randompage}}</span>
        </a>
      </li>
    </ul>
    <label id="fw-menu-toggle"
      class="mw-checkbox-hack-button"
      for="fw-menu-checkbox"
      aria-controls="fw-menu"
      tabindex="0">
      <span class="icon"></span>
      <span class="badge"></span>
    </label>
  </div>
</nav>
