{{!
  string msg-navigation-heading
  string msg-tooltip-n-recentchanges
  string msg-recentchanges-label
  string msg-tooltip-n-randompage
  string msg-randompage-label
  string data-search
}}

{{#data-navigation-bar}}
<nav class="nav-bar">
  <div id="mw-navigation">
    <h2>{{msg-navigation-heading}}</h2>

    <a title="Femiwiki" id="p-logo" class="mw-wiki-logo" href="/" ></a>

    {{>SearchBox}}

    <ul id="site-navigation">
      <li class="changes">
        <a href="/w/Special:RecentChanges" title="{{msg-tooltip-n-recentchanges}}">
          <span class="text">{{msg-recentchanges-label}}</span>
        </a>
      </li>
      <li class="random">
        <a href="/w/Special:RandomPage" title="{{msg-tooltip-n-randompage}}">
          <span class="text">{{msg-randompage-label}}</span>
        </a>
      </li>
    </ul>

    <button id="fw-menu-toggle">
      <span class="icon"></span>
      <span class="badge"></span>
    </button>
  </div>
</nav>
{{/data-navigation-bar}}
