{{!
Each portal has the following composition:
	string id
	string html-tooltip
	string label-id
	string? html-userlangattributes
	string label
	string html-items
	string? html-after-portal
}}
<nav id="{{id}}" class="portal" aria-labelledby="{{label-id}}" {{{html-tooltip}}} >
	<h3 {{{html-userlangattributes}}} id="{{label-id}}">{{label}}</h3>
  <ul>{{{html-items}}}</ul>
  {{#html-after-portal}}{{{.}}}{{/html-after-portal}}
</nav>
