{{#data-search}}
<div id="p-search">
  <form id="searchform" role="search" action="{{form-action}}">
    <input type="hidden" name="title" value="{{page-title}}" />
    <h3>
      <label for="searchInput">{{msg-search}}</label>
    </h3>
      {{{html-input}}}
      {{{html-button-search-fallback}}}
      {{{html-button-search}}}
  </form>
</div>
{{/data-search}}
