{{#data-search-box}}
<div id="p-search" aria-labelledby="p-search-label">
  <form id="searchform" role="search" action="{{form-action}}">
    <input type="hidden" name="title" value="{{page-title}}" />
    <h3 id="p-search-label">{{msg-search}}</h3>
      {{{html-input}}}
      {{{html-button-search-fallback}}}
      {{{html-button-search}}}
  </form>
</div>
{{/data-search-box}}
