{{{html-headelement}}}
{{>NavigationBar}}
<div id="fw-menu" class="fw-portals fw-wiki-portals">
  {{#data-sidebar}}{{>Portal}}{{/data-sidebar}}
</div>
{{>Header}}
{{>Content}}
{{#data-language}}{{>Portal}}{{/data-language}}
{{{html-footer}}}
{{{html-trail}}}
