{{{html-headelement}}}
{{>NavigationBar}}
<input type="checkbox" id="fw-menu-checkbox" class="mw-checkbox-hack-checkbox">
<div id="fw-menu" class="fw-portals fw-wiki-portals">
  {{#data-sidebar}}{{>Portal}}{{/data-sidebar}}
</div>
{{>Header}}
{{>Content}}
{{#data-language}}{{>Portal}}{{/data-language}}
{{{html-footer}}}
{{#text-addthis-pub-id}}<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{{text-addthis-pub-id}}}"></script>{{/text-addthis-pub-id}}
{{{html-trail}}}
