@import '../variables.less';

.flow-topic-meta a {
  .mw-link();
}

.skin-femiwiki .flow-topic-meta {
  a:not(:hover) {
    &.flow-click-interactive,
    &.flow-timestamp-anchor {
      color: inherit;
    }
  }
}

.flow-board-header {
  max-width: inherit;
}
