@import '../variables.less';

.client-dark-mode {
  // Remove the background; it stands out too much.
  table {
    background-color: unset;
  }

  // Override explicit blue colors
  // https://github.com/femiwiki/FemiwikiSkin/issues/396
  a,
  .mw-parser-output a.external,
  a:visited {
    color: @color-link;
  }

  // Apply filter for things using background-image
  // https://github.com/femiwiki/FemiwikiSkin/issues/415
  .ext-related-articles-card-thumb {
    filter: invert(1) hue-rotate(180deg);
    background-color: transparent;
  }
}
