@import '../variables.less';
@import 'mediawiki.mixins.less';
@import 'mediawiki.ui/mixins.buttons.less';
@import 'mediawiki.skin.variables.less';

// https://github.com/femiwiki/FemiwikiSkin/issues/161
.mw-ui-button {
  border-radius: 0;
  &.mw-ui-progressive {
    .mw-ui-button-colors-primary(@color-link, @color-primary4, @color-primary5 );

    &.mw-ui-quiet {
      color: @color-link;

      input[type='checkbox']:hover + &,
      &:hover {
        color: @color-primary4;
      }

      input[type='checkbox']:focus + &,
      &:focus {
        color: @color-link;
      }

      input[type='checkbox']:active + &,
      &:active {
        color: @color-primary5;
      }
    }
  }
}
