/**
 * Reference:
 * https://github.com/wikimedia/mediawiki/blob/REL1_38/resources/src/mediawiki.less/mediawiki.skin.defaults.less
 */

@import 'mediawiki.skin.defaults.less';

@width-breakpoint-mobile: 480px;
@width-breakpoint-tablet: 640px;

@line-height-base: 1.7;

@color-link: #5144a3;
@color-link--visited: #5144a3;
@color-link--active: #b9b5d9;
@color-link-new: #c0081f;
@color-link-new--visited: #a55858;
@color-link-external: #5144a3;
@color-link-external--active: #b63;

@font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', '본고딕',
  'Noto Sans CJK KR', 'KoPubDotum Medium', '나눔바른고딕', '나눔고딕',
  NanumGothic, '맑은고딕', 'Malgun Gothic', Arial, Dotum, sans-serif;
