@import '../variables.less';

* {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

html {
  font-size: 16.5px;
  @media (max-width: @width-breakpoint-mobile-small) {
    font-size: 16px;
  }

  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', '본고딕',
    'Noto Sans CJK KR', 'KoPubDotum Medium', '나눔바른고딕', '나눔고딕',
    NanumGothic, '맑은고딕', 'Malgun Gothic', Arial, Dotum, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: @color-base15;
  line-height: 1.7;

  // Word breaks shouldn't be used for CJK text
  word-break: keep-all;
  overflow-wrap: break-word;
}

:focus {
  outline: none;
}

::selection {
  background-color: #c3bffd;
}

// Quote
blockquote {
  position: relative;
  padding: 1em;
  margin: 1em 0;
  overflow: hidden;
  border: none;
  background-color: #f0f0f0;
}

input:focus {
  outline: 1px solid #474186;
}

input,
input[type='search'],
select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #888;
  line-height: 1.4;
  font-size: 1rem;
}

input[type='radio'],
input[type='checkbox'] {
  position: relative;
  top: 3px;
  width: 1rem;
  height: 1rem;
}

input:checked {
  background-color: #4f4b93;
}

input[type='text'],
input[type='password'] {
  padding: 0.1rem 0.2rem;
  height: 1.8rem;
  line-height: 1.4rem;
}

select {
  padding: 0.1rem 0.2rem;
  line-height: 1.4rem;
}

button,
input[type='submit'],
input[type='reset'] {
  border-width: 0;
  font-weight: normal;
  padding: 0.2rem 0.5rem;
}

input[type='submit'],
button {
  padding: 0.2rem 0.5rem;
  color: #fff;
  background-color: #aca7e2;
  text-decoration: none;
  cursor: pointer;
}

th,
td {
  background-color: transparent;
  padding: 0.2rem 0.5rem;
  border: 1px solid #ddd;
}

pre,
code,
tt,
kbd,
samp,
.mw-code {
  font-family: monospace, monospace;
}
