@import '../variables.less';

#p-header {
  box-sizing: border-box;
  margin: 2.3rem auto 0.5rem;
  padding: 0 @content-horizontal-padding;
  max-width: @content-width;
  clear: both;

  #p-namespaces h3 {
    display: none;
    color: @color-base0;
    font-size: 0.96rem;
    margin: 0 0 0.288rem;
    overflow: hidden;
    padding: 0.48rem 0 0.1632rem;
  }

  div,
  ul,
  li {
    margin: 0;
    display: block;
  }

  ul {
    padding: 0;
  }

  #p-namespaces,
  #ca-watch {
    font-size: 0.75rem;
  }

  #siteNotice {
    font-size: 0.8rem;
    color: @color-base0;
    margin: 0 0 4rem;
    padding: 1.6rem 0.8rem;
    border: 2px solid #aca8e0;
    position: relative;
    text-align: center;

    p {
      margin: 0;
    }
  }

  #p-namespaces {
    display: inline-block;
    margin-bottom: 0.5rem;

    ul {
      li {
        display: inline-block;
        margin-right: 0.5rem;
      }

      li.selected {
        display: none;
      }
    }
  }

  #ca-watch {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  #p-title-and-tb {
    clear: both;

    #p-actions-and-toolbox {
      display: none;
      clear: right;
      text-align: right;
      overflow: hidden;
      border-bottom: 1px solid @color-primary1;

      #p-actions,
      #p-page-tb,
      #p-share-tb,
      #p-site-tb {
        min-width: 8.8rem;
        margin: 0.6rem 0.8rem 0.6rem 0;
        float: right;
        vertical-align: top;
        text-align: left;

        h3 {
          margin: 0;
          font-weight: normal;
          font-size: 1rem;
          border-bottom: 1px solid #b9b5d9;
          margin-bottom: 0.4rem;
          padding: 0.5rem 0 0.17rem;
          color: @color-base0;
          overflow: hidden;
        }

        ul {
          padding: 0;
          margin: 0;
        }

        li {
          list-style: none;
          margin: 0;
        }

        a {
          display: block;
        }
      }

      div + div {
        margin-right: 1em;
      }
    }

    #p-title-buttons {
      float: right;
      margin: 0;

      // Remove highlighting
      .oo-ui-buttonElement-button {
        border: none;
        box-shadow: none;
      }

      #p-share .oo-ui-iconElement-icon {
        background-image: url('../images/icon-share.png');
      }
    }
  }
  #lastmod-and-views {
    font-size: 0.75rem;
    overflow: hidden;
    clear: both;

    #p-views {
      h3 {
        display: none;
        color: @color-base0;
        font-size: 0.96rem;
        margin: 0 0 0.288rem;
        overflow: hidden;
        padding: 0.48rem 0 0.1632rem;
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          margin: 0;
          display: block;
        }

        li.selected a {
          font-weight: bold;
        }
      }

      li#ca-view.selected,
      li#ca-history {
        display: none;
      }
    }

    #p-views {
      float: right;

      li {
        float: left;
      }

      li + li {
        margin-left: 1em;
      }
    }

    #lastmod {
      font-size: 0.8rem;
    }
  }
}

// firstHeading and its preivew output of VisualEditor
#p-header #p-title-and-tb h1.firstHeading,
.oo-ui-window .mw-body-content h1.firstHeading {
  font-size: 1.714rem;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  line-height: 1.2em;
  border-bottom: none;
  color: @color-base15;
  font-weight: bold;
  overflow: hidden;
}

html[lang='ko'] #p-header #p-namespaces a:after {
  content: ' 보기';
}

.visualClear {
  clear: both;
}

// @See https://github.com/femiwiki/skin/issues/76
.movepage-wrapper {
  width: auto;
}

// End of content
hr#content-end-bar {
  border: 0;
  border-width: 1px;
  border-color: #b9b5d9;
  background-color: #a2a9b1;
  max-width: 47.4em;
  margin: 0 auto;
  height: 1px;
}

// Footer
#mw-footer {
  box-sizing: border-box;
  padding: 0.8rem 1.3rem 0;
  max-width: 50rem;
  margin: 0 auto 3.2rem;

  .read-more-container {
    margin: 0;

    .ra-read-more {
      padding: 0 0 1em;
    }
  }

  .portal a {
    text-decoration: none;
  }

  ul {
    margin: 0;

    li {
      list-style: none;
    }
  }

  #footer-info {
    padding: 0;

    a {
      text-decoration: none;
    }
  }

  #footer-info-copyright {
    margin: 0 0 0.0714rem;
  }

  #fw-footer-menu,
  #footer-places {
    padding: 0;

    li {
      display: inline;
      margin: 0 0 0.0714rem;

      a {
        text-decoration: none;
      }
    }

    li::after {
      content: '|';
      margin: 0 0.3rem;
    }

    li:last-child::after {
      content: '';
    }
  }

  #footer-info-lastmod {
    margin-bottom: 1.6rem;
  }

  #footer-icons {
    display: none;
  }

  #p-lang {
    padding-bottom: 0.8rem;

    #p-lang-label {
      font-size: 1.28rem;
      display: none;
      margin: 0;
      margin-bottom: 0.3em;
      padding: 0.5em 0 0.17em;
      font-weight: bold;
      border: 0 none @color-base0;
      color: @color-base0;
      overflow: hidden;
    }

    .body {
      ul {
        padding: 0;
      }

      .interlanguage-link {
        display: inline-block;
      }
      .interlanguage-link:not(:first-child) {
        padding-left: 0.8em;
      }
    }
  }

  #footer-info-copyright,
  #footer-places {
    font-size: 0.714rem;
  }
}

// Preferences
ul#preftoc {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin-bottom: 0.5rem;
  }
}

#mw-prefs-form {
  .prefsection {
    border-width: 0;
    padding: 0;
    margin: 0;

    & > legend {
      display: none;
    }

    @media screen and (max-width: 480px) {
      .mw-input {
        word-break: break-all;

        input,
        select {
          width: 100%;
        }

        input[type='checkbox'],
        input[type='radio'] {
          width: 1rem;
        }
      }
    }
  }
}

// Search
// @See https://github.com/femiwiki/mediawiki/issues/131
.mw-body #mw-search-top-table {
  #searchText {
    input {
      box-sizing: border-box;
    }
  }
}

// powersearch
#powersearch {
  fieldset#mw-searchoptions {
    font-size: 14px;

    table {
      width: 100%;
      margin-bottom: 0.5rem;

      td {
        width: 50%;
      }
    }
  }
}

// Source Editor
body.action-edit {
  #siteNotice {
    display: none;
  }

  .diff-addedline {
    background-color: #d9ecfe;
  }

  .diff-deletedline {
    background-color: #feedca;
  }

  .diffchange.diffchange-inline {
    font-weight: bold;
  }

  .wikiEditor-ui-buttons > button {
    display: none;
  }

  .mw-body {
    .mw-editsection {
      display: none;
    }

    // Show femiwiki category
    .fw-catlinks {
      display: block;
    }
  }
}

body.action-submit .mw-body .fw-catlinks {
  display: block;
}

// Visual Editor

// Prevent Code mirror glitch
// @See https://github.com/femiwiki/skin/issues/52
.skin-femiwiki .ve-init-mw-desktopArticleTarget {
  .CodeMirror-code {
    line-height: 1.5em;
  }

  .CodeMirror {
    padding: 0;
  }
}

html.ve-active,
html.ve-activated,
html.ve-deactivating {
  #siteNotice {
    display: none;
  }

  .mw-body {
    .mw-editsection {
      display: none;
    }

    // Remove margin of generated elements
    li > p.ve-ce-generated-wrapper {
      margin: 0;
    }

    // Remove padding of visual editor
    .ve-ce-documentNode {
      padding: 0;
    }

    // Show femiwiki category
    .fw-catlinks {
      display: block;
    }
  }

  .oo-ui-toolbar {
    font-size: 12px;
  }
}
