name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: peter-murray/workflow-application-token-action@v4
        id: get_workflow_token
        with:
          application_id: ${{ vars.PAT_APPLICATION_ID }}
          application_private_key: ${{ secrets.PAT_APPLICATION_PRIVATE_KEY }}

      - uses: femiwiki/release-please-action@femiwiki
        id: release-please-action
        with:
          token: ${{ steps.get_workflow_token.outputs.token }}
          release-type: mediawiki-skin
    outputs:
      tag_name: ${{ steps.release-please-action.outputs.tag_name }}
      upload_url: ${{ steps.release-please-action.outputs.upload_url }}

  upload-assets:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.upload_url }} != ""
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 14

      - name: Build project
        run: |
          npm install --omit=dev
          tar --exclude-vcs -C .. -zcvf "../${{ needs.release-please.outputs.tag_name }}.tar.gz" "$(basename "$(pwd)")"
          mv ../${{ needs.release-please.outputs.tag_name }}.tar.gz ./

      - uses: peter-murray/workflow-application-token-action@v4
        id: get_workflow_token
        with:
          application_id: ${{ vars.PAT_APPLICATION_ID }}
          application_private_key: ${{ secrets.PAT_APPLICATION_PRIVATE_KEY }}

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ steps.get_workflow_token.outputs.token }}
        with:
          upload_url: ${{ needs.release-please.outputs.upload_url }}
          asset_path: ./${{ needs.release-please.outputs.tag_name }}.tar.gz
          asset_name: ${{ needs.release-please.outputs.tag_name }}.tar.gz
          asset_content_type: application/zip

      - name: Submit a PR
        run: |
          if [ '${{ github.event.repository.name }}' = 'FemiwikiSkin' ]; then
            EXTENSION=Femiwiki
          else
            EXTENSION=${{ github.event.repository.name }}
          fi
          curl \
            --fail \
            --request POST \
            --url https://api.github.com/repos/femiwiki/docker-mediawiki/dispatches \
            --header "Authorization: token ${{ steps.get_workflow_token.outputs.token }}" \
            --header 'content-type: application/json' \
            --data "{
              \"event_type\": \"bump-extension\",
              \"client_payload\": {
                \"extension\": \"$EXTENSION\",
                \"version\": \"${{ needs.release-please.outputs.tag_name }}\"
              }
            }"
